# frozen_string_literal: true

zd_host: 'https://yourdomain.zendesk.com/'
zd_client_id: ''
zd_client_secret: ''
zd_username: ''
zd_password: ''
zd_token_auth_type: 'Bearer'
slack_thread_ts_field_id: ''
slack_reply_count_field_id: ''

slack_host: 'https://yourdomain.slack.com/'
slack_access_token: 'xoxb-'
slack_token_auth_type: 'Bearer'
slack_bot_user_id: 'U01K4NYADRA'

default_locale: 'ru'